

{% extends "upload/layout.html" %}
{% block title %}
S3 Image Uploader
{% endblock %}
{% block fab %}
<a href="{% url 'upload' %}" class="btn-floating btn-large halfway-fab waves-effect waves-light pink accent-3">
    <i class="material-icons">add</i>
</a>
{% endblock %}


{% block content %}
<div class="row card">
    <!-- Images in Cards -->
    {% for image in images %}

    <div class="col s12 m6 l4 xl3">
        <div class="card small pink lighten-2">
        <div class="card-image">
            <img class="materialboxed" data-caption="Name: {{ image.filename }} - Uploaded: {{ image.uploaded_at }}" src="{{ image.file.url }}">
            <span class="card-title">{{ image.filename }}</span>
            <!-- <a href="{% url 'delete' image.file.name %}" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a> -->
        </div>
        <!-- <div class="card-content white-text">
            <p>
                {{ image.uploaded_at }}
            </p>
          </div> -->
        <div class="card-content">
            <div class="row">
                    <a class="col s12 btn waves-effect waves-light btn-block yellow darken-4">DELETE</a>
            </div>
            
          </div>
        </div>
        
    </div>
    {% endfor %}


    <!-- End of Images in Cards -->
    

    <!-- Add Image Card -->

    <!-- End of Add Image Card -->
</div>









<!-- End of Messages -->

<!-- JS -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.materialboxed');
        var instances = M.Materialbox.init(elems, {});
    });
    // document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.collapsible');
    //     var instances = M.Collapsible.init(elems, {});
    // });
</script>

<!-- End of JS -->

{% endblock %}