

{% extends "upload/layout.html" %}
{% block title %}
S3 Image Uploader
{% endblock %}
{% block fab %}
<a href="{% url 'upload' %}" class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
    <i class="material-icons">add</i>
</a>
{% endblock %}
{% block content %}


<h1>Your Images</h1>
<p>Uploaded images will be displayed here</p>

<!-- Collection -->
<ul class="collection">
    {% for image in images %}
        <li class="collection-item avatar">
            <!-- <img src="images/yuna.jpg" alt="" class="circle"> -->
            <i class="material-icons circle">insert_photo</i>
            <span class="title">
                File Name: {{ image.file.name}}
            </span>
            <p>
                Upload Date: {{ image.uploaded_at }}
            </p>
            <a href="{% url 'delete' image.file.name %}" class="secondary-content"><i class="material-icons">delete</i></a>
        </li>
    {% endfor %}
</ul>

<!-- End of Collection -->

{% endblock %}