<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Image Uploader</title>
    {% load static %}
    {% load material_form %}
    <!-- Materializecss -->
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


    <!-- Compiled and minified JavaScript for Materializecss -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'upload/site.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan lighten-1">
              <a href="#!" class="brand-logo center">Image Uploader</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <!-- fab -->
              <a href="#upload" class="btn-floating btn-large halfway-fab waves-effect waves-light pink accent-3 modal-trigger">
                <i class="material-icons">add</i>
            </a>
            <!-- end of fab -->
              <ul class="hide-on-med-and-down">
                <li>
                    <a class="waves-effect" href="list-view">
                        <i class="material-icons">list</i>
                        {% if view == 'list' %}
                            <!-- <i class="material-icons right">star</i> -->
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="card-view">
                        <i class="material-icons">dashboard</i>
                    </a>
                </li>
                <li><div class="divider"></div></li>
              </ul>
            </div>
          </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="list-view"><i class="material-icons">list</i>List View</a></li>
        <li><a href="card-view"><i class="material-icons">dashboard</i>Card View</a></li>
      </ul>
    <!-- End of Navbar -->
    
    <!-- Upload Model -->
  <div id="upload" class="modal">
    <form method="POST" enctype="multipart/form-data">
        <div class="modal-content">
            <h4>Select an Image to Upload</h4>
            
              {% csrf_token %}
              {% form form=form %}{% endform %}
              <!-- <button type="submit" name="_submit" class="btn pink accent-3">Upload Image</button> -->
              <!-- <a class="btn btn-block right cyan lighten-1 modal-close">Cancel</a> -->
            </div>
          <div class="modal-footer">
              <!-- <a class="btn btn-block right cyan lighten-1 modal-close">Cancel</a> -->
              <button type="submit" name="_submit" class="btn right pink accent-3">Upload Image</button>
            <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
          </div>
    </form>
    
  </div>
  <!-- End of Upload Modal -->

    



    <div class="container">
        <div class="row">
            <div class="col s1">

            </div>
            <div class="col s10 card">
                
                    <div class="card-content">
                        <h1 class="center">
                            {% block page-header %}
        
                            {% endblock %}
                        </h1>
                        <p class="center">Uploaded images will be displayed here.</p>
                        {% if not images %}
                            <p class="center light-text">
                                It appears you have no images uploaded. 
                            </p>
                            <div class="row"> 
                                <div class="col s1 m2 l2 xl4"></div>
                                <div class="col s10 m8 l8 xl4">
                                    <a href="#upload" class="btn btn-block pink accent-3 modal-trigger">Click to Add an image</a>
                                </div>
                                <div class="col s1 m2 l2 xl4"></div>
                            </div>
                            
                    </div>
                    
                {% endif %}

                
            </div>
            <div class="col s1">

            </div>
            

        </div>

        

        
    </div>
    
    <!-- </div> -->
    <div class="row">
        <div class="col s1">

        </div>
        <div class="col s10">
            {% block content %}
            {% endblock %} 
        </div>
         
    </div>

    <h1>Test models</h1>
    {% for test_model in test_models %}
        <p>{{test_model.name}}</p>
    {% endfor %}
    
    
    <!-- Container -->
    <div class="container">
        <!-- Page Content goes here -->
        
        <footer>
            <p>© 2021 Daniel Oram</p>
        </footer>
    </div>
    <!-- End of Container -->

    <!-- Messages -->
    {% if messages %}
    <ul>
    {% for message in messages %}
            <script>
                var message = "{{ message }}";
                M.toast({html: message});
            </script>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- End of Messages -->

    <!-- Javascript -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });
    </script>
    <!-- End of Javascript -->
</body>
</html>