<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Materializecss -->
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


    <!-- Compiled and minified JavaScript for Materializecss -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'upload/site.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo center">Image Uploader</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <!-- fab -->
              <a href="{% url 'upload' %}" class="btn-floating btn-large halfway-fab waves-effect waves-light pink accent-3">
                <i class="material-icons">add</i>
            </a>
            <!-- end of fab -->
              <ul class="hide-on-med-and-down">
                <li>
                    <a class="waves-effect" href="list-view">
                        <i class="material-icons">list</i>
                        {% if view == 'list' %}
                            <!-- <i class="material-icons right">star</i> -->
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="card-view">
                        <i class="material-icons">dashboard</i>
                        {% if view == 'card' %}
                            <!-- <i class="material-icons right">star</i> -->
                        {% endif %}
                    </a>
                </li>
                <li><div class="divider"></div></li>
              </ul>
            </div>
          </nav>
    </div>
    <!-- End of Navbar -->
    
    

    



    <div class="container">
        {% if images %}
        <div class="row">
            <div class="col s1">

            </div>
            <div class="col s10">
                <h1 class="center">
                    {% block header %}

                    {% endblock %}
                </h1>
                <p class="center">Uploaded images will be displayed here</p>
            </div>
            <div class="col s1">

            </div>

        </div>
        

        {% block content %}
        {% endblock %}
        
        {% endif %}
    </div>
    
    <!-- </div> -->
    

    
    <!-- Container -->
    <div class="container">
        <!-- Page Content goes here -->
        
        <footer>
            <p>© 2021 Daniel Oram</p>
        </footer>
    </div>
    <!-- End of Container -->

    <!-- Messages -->
    {% if messages %}
    <ul>
    {% for message in messages %}
            <script>
                var message = "{{ message }}";
                M.toast({html: message});
            </script>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- End of Messages -->

    <!-- Javascript -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
    </script>
    <!-- End of Javascript -->
</body>
</html>