

{% extends "upload/layout.html" %}
{% load widget_tweaks %}
{% load material_form %}
{% block title %}
Image Uploader
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>Choose a file to upload to S3</p>
            
            
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" name="_submit" class="btn pink accent-3">Upload Image</button>
                        <a href="" class="btn btn-block right cyan lighten-1">Cancel</a>
                    </form>

                    
                </div>
                
            </div>
            
    
    
        </div>
    
    </div>
</div>


{% endblock %}